<html>
  <head>
    <title>QuizVille</title>
    <link href="/styles.css" media="screen, projection" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/application.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function() {
        var cometd = new Faye.Client('http://quizville-cometd.herokuapp.com/cometd', {timeout: 120});
        cometd.disable('websocket');
        
        var subscription = cometd.subscribe("/q/demo", function(message) {
          console.log(message);
          $('#answers').append(message);
        });
        subscription.callback(function() {
          console.log('Subscription is now active!');
        });
        subscription.errback(function(error) {
          console.log(error.message);
        });
        
        var publish = function() {
          cometd.publish("/q/demo", 
            {"Name":"QUIZA-0040","Quick_Quiz__c":"a02d0000002cUvKAAU","Id":"a01d0000002j7RFAAY"}
          );
        };
        
        
      });
    </script>
    <script src="http://quizville-cometd.herokuapp.com/cometd.js" type="text/javascript"></script> 
    
    <link href='http://fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div id="logo">QuizVille</div>
      </div>
      <div id="main">
        <div id="userbar">
          <div>User: Demo</div>
          <div>Points: <span id="points"></span></div>
          <div>Time taken:<span id="time_taken"></span> seconds</div>
          <div style="float: right; margin-right: 0;">Date: 0001/01/01</div>
          <div class="clear"></div>
        </div>
        <div id="userbar">
          This page is just to demo Cometd transport between server and browser. Messages are published to the channel this page is subscribed to at intervals. So enjoy watching messages flowing in.
        </div>
        
        <h2>Answers</h2>
        <div id="answers">
          <div class="answer">
            <span class="user">User</span>
            <span class="language">Language</span>
            <span class="correct">Correct?</span>
            <span class="time">Time taken</span>
          </div>
        </div>
      </div>
      <div id="footer">
        Built by <a href="http://cloudspokes.com/user/soe" target="_blank">@Soe</a>
      </div>
    </div>
  </body>
</html>